@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", sans-serif;
  background-image: url("./images/weather.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  display: flex;
  height: 100vh;
}

/* Main Section */

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 76px 106px;
}

.title {
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.weather {
  display: flex;
  color: white;
  align-items: flex-end;
  gap: 24px;
  margin-bottom: 24px;
}

p.temperature {
  font-size: 7rem;
  font-weight: bold;
}

.location {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

p.place {
  font-size: 2.6rem;
  font-weight: bold;
}

.icon {
  margin-bottom: 18px;
}

.icon img {
  width: 3rem;
  filter: invert(1);
}

/* Sidebar Section */

.sidebar {
  color: white;
  width: 480px;
  padding: 64px;
  background-color: rgba(1, 1, 1, 0.3);
  backdrop-filter: blur(12px);
  box-shadow: -1px 0 20px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

input[type="text"] {
  color: white;
  padding: 12px;
  font-family: inherit;
  font-size: 16px;
  width: 100%;
  border: none;
  border-bottom: 2px solid white;
  background-color: inherit;
  outline: inherit;
}

.search img {
  height: 2rem;
  filter: invert();
  align-self: flex-end;
}

h4 {
  font-size: 24px;
  margin: 12px auto 48px;
}

.details li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  font-size: 18px;
}

.details p {
  color: rgba(255, 255, 255, 0.6);
}

.details .value {
  color: white;
}

li {
  list-style: none;
}
